<!DOCTYPE html>
<html>
<head>
    <title>HOME</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <style>
      .navbar-nav {
        float:none;
        margin:0 auto;
        display: block;
        text-align: center;
        }
        .navbar-nav > li {
        display: inline-block;
        float:none;
        }
        li>a{
          width : auto;
          font-size:  25px;
        }
        li>a:hover{
          cursor: pointer;
        }
        li{
            width: 240px;
        }
    </style>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav"> 
          <li style="float:left;"><a onclick="loadFiles()">View Files</a></li> 
          <li style="float:left;"><a href="#">Create File</a></li>
          <li style="float:right;"><a href="logout">Logout</a></li>
        </ul>
      </div>
    </nav>
    <header>
        <h1>You just got on HOME page. Hello {{ user }}</h1><br>
    </header>

    <div class="container" id="response_files_table">
    </div>
    <script type="text/javascript">
        var divTable = document.getElementById("files_table");
        var divTableResp = document.getElementById("response_files_table");
        function loadFiles(){
            requestForFiles();
            return false;
        }

        function requestForFiles(){
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    divTableResp.innerHTML = this.responseText;
                }
            };
            var url = "/view_files";
            xhttp.open("GET",url,true);
            xhttp.send();
        }
    </script>
</body>
</html>